@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column; /* setting it to column means to stack it vertically */
	align-items: center; /* think of it like flex-x */
	justify-content: center; /* think of it like flex-y */
	height: 100vh; /* need height to be 100vh (100% of viewport height) for justify-content to work*/
	overflow: hidden;
	margin: 0; /* just to clarify: the h1 h2 h3 tags themselves have a bit of margin */
}
